.box-section {
    padding: 90px 0 50px;
    
    .wrapper { 
        text-align: center; 
        border-bottom: 2px solid map-get($map: $colors, $key: lineColor);
    }

    &__list{
         @include flex();
    
       li:not(:first-child) {
        margin-left: 17px;
       }
    }

    p { margin: 40px 0 15px; }
    figcaption { margin-top: 10px; }

    .button--learnmore {
        padding: 20px 80px;
        transition: .3s;

        &:hover {
            background-color: map-get($map: $colors, $key: fontColorGrey);
            color: map-get($map: $colors, $key: whiteColor);
        }
    }

    &__box-btn-container { margin: 70px 0; }
}