.faviourite-shop-section {

    .wrapper { 
        text-align: center; 
        border-bottom: 2px solid map-get($map: $colors, $key: lineColor);
    }

    &__list {
        margin: 40px 0 60px;
  
        li { width: 30%; }

        li:not(:first-child) {
            margin-left: 3%;
        }
    }

    .box-shop-btn-container { margin-bottom: 50px; }

    figure,img { width: 100%; }

    img { @include image($objFit:cover) }
}