.featured-section {

    padding-top: 50px;

    .wrapper { 
        text-align: center; 
        border-bottom: 2px solid map-get($map: $colors, $key: lineColor);
    }

    &__list { 
        margin: 50px 0 50px;
        @include flex();

        li:not(:first-child) { margin-left: 4%; }
     }

    .button--learn-more {
        padding: 20px 80px;
        transition: .3s;


        &:hover {
            background-color: map-get($map: $colors, $key: fontColorGrey);
            color: map-get($map: $colors, $key: whiteColor);
        }
    }

    .box-featured-btn-container { margin-bottom: 80px; }

}