.header-section {
    
    .wrapper { 
        width: 72%; 
        @include flex();
        @include direction($direction: column);
    }

    &__top-header,&__list,&__main-header,.nav-list {
        @include flex();
    }

    &__top-header{ 
        margin: 10px 0;
        span {
            @include textTransform($transform: capitalize);
            @include basis($flexBasis: 50%); 
        }
        ul { 
            li:last-child { margin-left: 25px; }
            a { padding: 5px; }

            @include justify($justify: end);
            @include basis($flexBasis: 50%); 
        }
     }

     &__main-header {
        margin: 20px 0;
     }
}