.works-section {

    margin-bottom: 40px;

    .wrapper { 
        text-align: center; 
        border-bottom: 2px solid map-get($map: $colors, $key: lineColor);
    }
    
    figure,img { width: 100%; }

    img { @include image($objFit:cover) }

    &__list {

        li {  width: 31%; }
        li:not(:first-child){ margin-left: 4%; }
    }
 
    p { 
        margin: 20px 0 15px; 
        @include fontSize($size:16px,$weight: 300);
    }

    .heading--content { 
        margin-top: 10px;
        @include fontSize($size:25px) 
    }

    &__works-btn-container { margin: 40px 0 80px; }
}