@charset "UTF-8";
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold; }

a,
.heading,
figcaption {
  text-transform: capitalize; }

.wrapper {
  width: 72%;
  margin: 0 auto; }

.heading,
p,
a,
h1,
h2,
h3,
h4,
h5,
span,
figcaption {
  color: #534B48; }

.heading,
p {
  font-weight: 600; }

p {
  font-size: 18px; }

.heading {
  font-size: 32px; }

.birchbox a,
.button {
  text-transform: uppercase; }

.list {
  display: flex; }

.button {
  padding: 20px 80px;
  transition: .3s; }
  .button:hover {
    background-color: #534B48;
    color: #fff; }

.header-section,
.footer-section {
  background-color: #F6EDDC; }

a {
  text-decoration: none; }

.wrapper {
  margin: 0 auto; }

li {
  list-style-type: none; }

.button {
  border: 1px solid #534B48;
  color: #534B48; }

.header-section {
  width: 100%;
  z-index: 1;
  position: fixed; }
  .header-section .wrapper {
    width: 72%;
    display: flex;
    flex-direction: column; }
  .header-section__top-header, .header-section__list, .header-section__main-header, .header-section .nav-list {
    display: flex; }
  .header-section__top-header {
    margin: 10px 0; }
    .header-section__top-header span {
      text-transform: capitalize;
      flex-basis: 50%; }
    .header-section__top-header ul {
      justify-content: end;
      flex-basis: 50%; }
      .header-section__top-header ul li:last-child {
        margin-left: 25px; }
      .header-section__top-header ul a {
        padding: 5px;
        transition: .3s; }
      .header-section__top-header ul a:hover {
        color: #F8A885; }
  .header-section__top-header::after {
    content: "";
    width: 0;
    height: 1px;
    margin: auto;
    display: block;
    align-items: center;
    background: #d1c7c4;
    position: absolute;
    left: 0; }
  .header-section__top-header::after {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 20px; }
  .header-section__main-header {
    margin: 12px 0; }
  .header-section .nav-list, .header-section .nav-list li:last-child, .header-section .birchbox a {
    display: flex;
    align-items: center; }
  .header-section .nav-list li a {
    padding: 10px 25px;
    transition: .3s;
    font-size: 18px;
    font-weight: 300; }
  .header-section .nav-list li:first-child a::after {
    content: "\f078";
    margin-left: 5px;
    font-family: "fontAwesome";
    font-size: 16px; }
  .header-section nav {
    flex-basis: 77%; }
    .header-section nav .nav-list li:last-child {
      margin-left: 7%; }
  .header-section .birchbox {
    flex-basis: 22%; }
  .header-section .birchbox a:hover, .header-section .nav-list li a:hover {
    color: #F8A885; }
  .header-section .birchbox a {
    transition: .3s;
    font-size: 32px; }
    .header-section .birchbox a::after {
      content: "\f219";
      font-family: "fontAwesome";
      font-size: 12px; }
  .header-section .search-box {
    padding: 8px;
    border: 1px solid #d1c7c4;
    border-radius: 45px;
    background: #fff;
    display: flex; }
    .header-section .search-box span {
      cursor: pointer;
      font-size: 0; }
    .header-section .search-box span::after {
      content: "\f002";
      margin-right: 10px;
      font-family: "fontAwesome";
      font-size: 20px; }
    input {
      border: 0;
      margin-left: 10px;
      outline: 0;
      font-size: 16px; }

    .nav-list li:last-child::after {
      content: "\f07a";
      margin-left: 10px;
      font-family: "fontAwesome";
      color: #534B48;
      font-size: 20px; }

.banner-section {
  padding: 100px 0 40px;
  background-color: #F4F9FC;
  position: relative; }
  .banner-section .wrapper {
    width: 100%;
    text-align: center; }
  .banner-section p:first-child {
    padding: 15px 0;
    color: #76A3A6;
    font-size: 16px;
    font-weight: 600; }
    .banner-section p:first-child::after {
      content: "\f054";
      margin-left: 5px;
      font-family: "fontAwesome"; }
  .banner-section figure, .banner-section img {
    height: 100%;
    width: 100%; }
  .banner-section img {
    object-fit: cover; }
  .banner-section .heading--banner {
    margin: 45px 0 10px; }
  .banner-section p:not(:first-child) {
    width: 56%;
    margin: 0 auto; }
  .banner-section__btn-container {
    margin-top: 45px;
    justify-content: center;
    display: flex; }
    .banner-section__btn-container div:last-child {
      margin-left: 35px; }
  .banner-section .button-banner a {
    padding: 20px 45px;
    border: 1px solid #F8A885;
    background-color: #F8A885;
    transition: .3s;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600; }
    .banner-section .button-banner a:hover {
      border: 1px solid #F8A885;
      background-color: transparent;
      color: #F8A885; }

.box-section {
  padding: 90px 0 50px; }
  .box-section .wrapper {
    text-align: center;
    border-bottom: 2px solid #F0F0B7; }
  .box-section__list li:not(:first-child) {
    margin-left: 17px; }
  .box-section p {
    margin: 40px 0 15px; }
  .box-section figcaption {
    margin-top: 10px; }
  .box-section__box-btn-container {
    margin: 70px 0; }

.works-section {
  margin-bottom: 40px; }
  .works-section .wrapper {
    text-align: center;
    border-bottom: 2px solid #F0F0B7; }
  .works-section figure, .works-section img {
    width: 100%; }
  .works-section img {
    height: auto;
    object-fit: cover; }
  .works-section__list li {
    width: 31%; }
  .works-section__list li:not(:first-child) {
    margin-left: 4%; }
  .works-section p {
    margin: 20px 0 15px;
    font-size: 16px;
    font-weight: 300; }
  .works-section .heading--content {
    margin-top: 10px;
    font-size: 25px; }
  .works-section__works-btn-container {
    margin: 40px 0 80px; }

.faviourite-shop-section .wrapper {
  text-align: center;
  border-bottom: 2px solid #F0F0B7; }
.faviourite-shop-section__list {
  margin: 40px 0 60px; }
  .faviourite-shop-section__list li {
    width: 30%; }
  .faviourite-shop-section__list li:not(:first-child) {
    margin-left: 3%; }
.faviourite-shop-section .box-shop-btn-container {
  margin-bottom: 50px; }
.faviourite-shop-section figure, .faviourite-shop-section img {
  width: 100%; }
.faviourite-shop-section img {
  height: auto;
  object-fit: cover; }

.featured-section {
  padding-top: 50px; }
  .featured-section .wrapper {
    text-align: center;
    border-bottom: 2px solid #F0F0B7; }
  .featured-section__list {
    margin: 50px 0 50px;
    display: flex; }
    .featured-section__list li:not(:first-child) {
      margin-left: 4%; }
  .featured-section .box-featured-btn-container {
    margin-bottom: 80px; }

.customer-review .wrapper {
  text-align: center; }
.customer-review .review-container {
  display: flex; }
.customer-review__list {
  align-items: center;
  flex-basis: 70%; }
  .customer-review__list li:not(:first-child) {
    margin-left: 10%; }
.customer-review__list::before, .customer-review__list::after {
  font-family: "fontAwesome";
  cursor: pointer;
  font-size: 40px;
  font-weight: 900; }
.customer-review__list::before {
  content: "\f053";
  margin-right: 10%; }
.customer-review__list::after {
  content: "\f054";
  margin-left: 10%; }
.customer-review figure {
  flex-basis: 30%; }
.customer-review .box-featured-btn-container {
  margin: 70px 0; }
.customer-review .button--customer-review {
  border-color: #F8A885;
  background-color: #F8A885; }
  .customer-review .button--customer-review:hover {
    background-color: transparent;
    color: #F8A885; }
.customer-review .heading--customer-review {
  margin: 50px 0; }

.footer-section__top-footer, .footer-section .app {
  display: flex; }
  .footer-section__top-footer .top-footer-list, .footer-section .app .top-footer-list {
    display: flex;
    flex-basis: 60%; }
.footer-section__bottom-footer::before {
  content: "";
  width: 0;
  height: 1px;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  align-items: center;
  background: #d1c7c4;
  position: absolute;
  left: 0; }
.footer-section__bottom-footer::before {
  width: 100%; }
.footer-section__bottom-footer {
  padding: 40px 0;
  position: relative;
  display: flex; }
  .footer-section__bottom-footer ul {
    display: flex;
    flex-basis: 40%; }
  .footer-section__bottom-footer .bottom-first {
    flex-basis: 60%; }
    .footer-section__bottom-footer .bottom-first li:not(:first-child) {
      margin-left: 40px; }
    .footer-section__bottom-footer .bottom-first a:first-child {
      padding-left: 0; }
  .footer-section__bottom-footer .bottom-last li {
    margin-right: 30px; }
  .footer-section__bottom-footer a {
    padding: 15px; }
  .footer-section__bottom-footer .icon {
    font-size: 0px;
    transition: .3s; }
  .footer-section__bottom-footer .icon::after {
    font-family: "fontAwesome";
    font-size: 25px; }
  .footer-section__bottom-footer .facebook::after {
    content: ""; }
  .footer-section__bottom-footer .twitter::after {
    content: ""; }
  .footer-section__bottom-footer .pininterest::after {
    content: ""; }
  .footer-section__bottom-footer .youtube::after {
    content: ""; }
  .footer-section__bottom-footer .instagram::after {
    content: ""; }
.footer-section .birchbox a {
  display: flex;
  align-items: center; }
.footer-section .birchbox a:hover, .footer-section a:hover {
  color: #F8A885; }
.footer-section .birchbox a {
  transition: .3s;
  font-size: 32px; }
  .footer-section .birchbox a::after {
    content: "\f219";
    font-family: "fontAwesome";
    font-size: 12px; }
.footer-section h4 {
  padding: 40px 0 25px; }
.footer-section .subscribe-container {
  margin: 15px 0 30px;
  display: flex; }
  .footer-section .subscribe-container input {
    padding-left: 10px;
    margin-left: 0;
    line-height: 3;
    flex-basis: 65%;
    font-size: 15px; }
.footer-section .button--yes {
  padding: 15px;
  background-color: #534B48;
  color: #fff; }
  .footer-section .button--yes:hover {
    border-color: #534B48;
    background-color: transparent;
    color: #534B48; }
.footer-section .list-one {
  flex-basis: 50%; }
.footer-section .list-one li a, .footer-section .list-two li a, .footer-section span, .footer-section .head, .footer-section li a, .footer-section .head-form {
  font-weight: 600; }
.footer-section .list-one li, .footer-section .list-two li {
  margin-bottom: 30px; }
.footer-section .head, .footer-section .head-form {
  text-transform: uppercase; }
.footer-section span::before {
  content: "\f2b4";
  margin-right: 8px;
  font-family: "fontAwesome"; }
.footer-section p {
  font-size: 15px; }
.footer-section .head-form {
  margin: 40px 0 15px; }
.footer-section .app li:first-child {
  flex-basis: 30%; }
  .footer-section .app li:first-child::before {
    content: ""; }
.footer-section .app li:last-child::before {
  content: ""; }
.footer-section .app li::before {
  margin-right: 10px;
  font-family: "fontAwesome";
  color: #534B48;
  font-size: 25px; }

/*# sourceMappingURL=style.css.map */
